.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 202px 84px;
  gap: 39px 71px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content_image {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.about__content_desc-text {
  line-height: 28px;
}

.about__content_desc-text:first-child {
  margin-bottom: 25px;
}

.about__quote {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.about__quote:before {
  content: "";
  display: inline-block;
  background-image: url("../img/quote.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 50px;
  background-size: contain;
}

.about__tagline {
    max-width: 419px;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    left: 33px;
    margin-bottom: 39px;
}

.about__tagline p:before {
  content: "\201C";
  position: absolute;
  left: -35px;
  top: 35px;
  font-size: 88px;
  line-height: 0;
  color: var(--main-color);
}

.about__tagline p:after {
content: "\201D";
position: absolute;
right: 55px;
bottom: -25px;
font-size: 88px;
line-height: 0;
color: var(--main-color);
}

/* .about__tagline:after {
  content: "";
  display: inline-block;
  background-image: url("../img/quote.svg");
  background-repeat: no-repeat;
  background-position-y: 14px;
  width: 22px;
  height: 50px;
  background-size: contain;
  transform: rotate(180deg);
} */

.about__founder {
  padding-left: 180px;
}

.about__founder_image {
  margin-right: 30px;
}

.about__founder_text {
  line-height: 28px;
}

@media (max-width: 1439px) {
  .about__content {
    grid-template-columns: 380px 1fr;
    grid-template-rows: 166px 104px 78px;
    gap: 26px 40px;
  }

  .about__content_desc-text {
    font-size: 18px;
    line-height: 24px;
  }

  .about__tagline {
    max-width: 380px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 13px;
  }

  .about__tagline p:before {
    left: -35px;
    top: 28px;
    font-size: 70px;
  }

  .about__tagline p:after {
    right: 126px;
    bottom: -12px;
    font-size: 70px;
    }
  
  .about__founder {
    padding-left: 80px;
  }
}

@media (max-width: 1023px) {
  .about__content {
    grid-template-rows: 380px 85px 78px;
    gap: 31px 28px;
  }

  .about__content:nth-child(2) {
    align-items: center;
  }

  .about__content_image {
    grid-row: 1 / 2;
  }

  .about__content_desc-text {
    font-size: 16px;
    line-height: 22px;
  }

  .about__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about__tagline p {
    width: 700px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .about__quote:before {
    height: 15px;
  }

  .about__tagline:after {
    height: 21px;
    background-position-y: 10px;
  } 
  
  .about__tagline p:after {
    left: 527px;
    bottom: 25px;
  } 

  .about__founder {
    grid-column: 1 / 3;
    padding-left: 350px;
  }
  
  .about__founder_text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-template-rows: 127px 280px 90px 56px;
    gap: 20px 0;
  }
  
  .about__content_image {
    width: 280px;
    grid-row: 2 / 3;
  }

  .about__content_desc-text {
    width: 280px;
    grid-row: 1 / 2;
    font-size: 12px;
    line-height: 16px;
  }

  .about__tagline {
    margin-bottom: 9px;
    grid-row: 3 / 4;   
  }

  .about__tagline p {
    width: 280px;
    font-size: 18px;
    line-height: 26px;
  }
  
  .about__quote:before {
    height: 15px;
  }

  .about__tagline:after {
    height: 21px;
    background-position-y: 10px;
  } 
  .about__tagline p:before {
    left: -20px;
    top: 20px;
    font-size: 39px;
  }
  
  .about__tagline p:after {
    left: 135px;
    bottom: 24px;
    font-size: 39px;
  } 
    
  .about__founder {
    padding-left: 0;
    grid-row: 4 / 5;    
  }

  .about__founder_image {
    width: 56px;
    height: 56px;
  }
  
  .about__founder_text {
    font-size: 12px;
    line-height: 16px;
    max-width: 285px;
  }
}