.about__content_left {
  display: inline-block;
  width: 600px;  
}

.about__content_right {
  display: inline-block;
  vertical-align: top;
  width: 574px;
  line-height: 28px;
  padding-left: 80px;
}

.about__desc {
  margin-bottom: 60px;
}

.about__desc:first-child {
  margin-bottom: 25px;
}

.about__quote {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.about__quote:before {
  content: "";
  display: inline-block;
  background-image: url("../img/quote.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 50px;
  background-size: contain;
}

.about__tagline {
  display: inline-block;
  vertical-align: top;
  width: 450px;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__tagline:after {
  content: "";
  display: inline-block;
  background-image: url("../img/quote.svg");
  background-repeat: no-repeat;
  background-position-y: 14px;
  width: 22px;
  height: 50px;
  background-size: contain;
  transform: rotate(180deg);
}

.about__founder {
  padding-left: 110px;
}

.about__founder_image {
  display: inline-block;
  vertical-align: middle;
}

.about__founder_text {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
  font-style: normal;
}