.booking {
  background-color: hsl(288, 69%, 19%);
}

.block-title {
  text-align: center;
  margin-bottom: 60px;
}

.booking__hall_radios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.booking__hall_radio {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 7px 0;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.booking__hall_radio:hover {
  background-color: #EADEED;
  border: 3px solid #640AA3;
}

.booking__hall_radio:focus {
  border: 3px solid #640AA3;
}

.booking__hall_radio:active {
  background-color: #EADEED;
  border: 3px solid #EADEED;
}

.booking__entertainments_list {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 60px;
}

.booking__entertainments_item {
  display: flex;
  flex-direction: column;
}

.booking__entertainments_title {
  text-align: center;
  margin-bottom: 40px;
}

.booking__entertainments_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

/* Radio кнопки */

.booking__radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}

.booking__radio_text {
	position: relative;
	padding: 0 0 0 39px;
	cursor: pointer;
  transition: 0.3s ease-in-out;
}
.booking__radio_text:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: #fff;
}

.booking__radio_text:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 27px;
	height: 27px;
	background-color: transparent;
}

.booking__radio input:focus + .booking__radio_text:before {
	box-shadow: 0 0 0 1px #CD06FF;
}

/* Checkbox */

.booking__checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.booking__checkbox_text {
	position: relative;
	padding: 0 0 0 39px;
	cursor: pointer;
}

.booking__checkbox_text:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: #fff;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
	transition: .3s ease-in-out;
}

.booking__checkbox input:checked + .booking__checkbox_text:after {
	opacity: 1;
}

.booking__checkbox input:focus + .booking__checkbox_text:before {
	box-shadow: inset 0 2px 3px rgba(0 ,0, 0, .2), 0 0 0 1px #CD06FF;
}

.booking__date_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.booking__date_block {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.booking__date_list {
  display: flex;
  justify-content: space-between;
  transition: .3s ease-in-out;
}

.booking__date_list input:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

::-webkit-datetime-edit { 
  padding: 12px 20px; 
}

::-webkit-inner-spin-button { 
  display: none; 
}

::-webkit-calendar-picker-indicator {
  background-image: url('../img/triangle.svg');
  background-position: -40px center;
	background-size: 47px 12px; 
}

/* 
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; } */


.booking__date_item,
.booking__time_item {
  width: 134px;
  height: 52px;
  border: none;
}

.booking__number {
  width: 300px;
  height: 52px;
  font-size: 18px;
  line-height: 28px;
  color: hsl(0, 5%, 12%);
  padding-left: 20px;
	appearance: none;
	background-image: url('../img/triangle.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 47px 12px;
}

.booking__number:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

.date-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.booking__date_name,
.booking__date_second-name,
.booking__date_phone,
.booking__date_email {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  transition: .3s ease-in-out;
}

.booking__date_name input {
  width: 280px;
  height: 52px;  
}

.booking__date_name input:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

.booking__date_second-name input {
  width: 280px;
  height: 52px;
}

.booking__date_second-name input:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

.booking__date_phone input {
  width: 280px;
  height: 52px;
}

.booking__date_phone input:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

.booking__date_email input {
  width: 280px;
  height: 52px;
}

.booking__date_email input:focus {  
  border: 3px solid #CD06FF;
  outline: none;  
}

.booking__date_name:before {
  content: "Имя";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_second-name:before {
  content: "Фамилия";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_phone:before {
  content: "Телефон";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_email:before {
  content: "E-mail";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__btn {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  border: 3px solid #fff;
  border-radius: 10px;
  color: #6C0287;
  padding: 15px 60px;
  margin-left: auto;
  transition: .3s ease-in-out;
}

.booking__btn:hover {
  background-color: #EADEED;
  border: 3px solid #6C0287;
}

.booking__btn:focus {
  border: 3px solid #6C0287;
}

.booking__btn:active {
  border: 3px solid #EADEED;
  background-color: #EADEED;
}