.booking {
  background-color: var(--bg-color);  
}

.block-title {
  margin-bottom: 40px;
  text-align: center;
}

.booking__hall_radios {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 60px;
}

.booking__hall_radio {
  width: 250px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 7px 15px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.booking__hall_radio:hover {
  background-color: var(--next-color);
  border: 3px solid var(--secondary-color);  
}

.booking__hall_radio:focus {
  background-color: hsl(0, 0%, 100%);
  border: 3px solid var(--secondary-color);
}

.booking__hall_radio:active {
  background-color: var(--next-color);
}

.booking__hall_radio-click {
  background-color: var(--next-color);
  border: 3px solid var(--next-color);
}

.booking__entertainments_list {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 60px;
}

.booking__entertainments_item {
  display: flex;
  flex-direction: column;
}

.booking__entertainments_title {
  text-align: center;
  margin-bottom: 40px;
}


/* Radio кнопки */

.booking__entertainments_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.booking__entertainments_radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}

.booking__radio_text {
	position: relative;
	padding: 0 0 0 39px;
	cursor: pointer;
  transition: .3s ease-in-out;
}

.booking__radio_text:before {
	content: '';
	position: absolute;
	top: -4px;
	left: -1px;
	width: 29px;
	height: 29px;
	background-color: transparent;  
}

.booking__radio_text:after {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: hsl(0, 0%, 100%);
}

/* .booking__radio_text:focus:before,
.booking__radio_text:active:before {
  border: 1px solid var(--add-color);  
} */

.booking__entertainments_radio input[type=radio] {
  display: none;
}

.booking__entertainments_radio input[type=radio]:checked+label:before {
  color: var(--add-color);
  border: 1px solid var(--add-color);
  width: 33px;
  height: 33px;
}

.booking__entertainments_radio label {
  font-size: 22px;
  line-height: 25px;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 40px;
}

.booking__entertainments_radio label:before {
  content: '';
  width: 27px;
  height: 27px;
  position: absolute;
  left: 0;
  border: 1px solid var(--add-color);
}

/* .booking__entertainments_radio input:focus + .booking__radio_text:before {
	box-shadow: 0 0 0 1px var(--secondary-color);
} */

/* .booking__entertainments_radio input[type=radio]:checked+label:before {
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
} */

/* Checkboxes */

.booking__checkbox input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.booking__checkbox_text {
	position: relative;
	padding: 0 0 0 39px;
	cursor: pointer;
  transition: .3s ease-in-out;
}

.booking__checkbox_text:before {
	content: '';
	position: absolute;
	top: -7px;
	left: -2px;
	width: 30px;
	height: 30px;
	background-color: transparent;  
}

.booking__checkbox_text:after {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 25px;
	height: 25px;
	background: hsl(0, 0%, 100%);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);	
}

.booking__checkbox:focus:before,
.booking__checkbox_text:active:before {
  border: 1px solid var(--add-color);  
}

.booking__checkbox input:not(:disabled):active+label:before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* .booking__checkbox input:checked + .booking__checkbox_text:after {
	opacity: 1;
} */

/* .booking__checkbox input:focus + .booking__checkbox_text:before {
	box-shadow: inset 0 2px 3px rgba(0 ,0, 0, .2), 0 0 0 1px var(--secondary-color);
} */

/* .booking__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
} */

.booking__date_title {
  display: block;
  text-align: center;
}

.booking__date_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 36px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  /* display: grid;
  grid-template-columns: 300px minmax(251px, 280px) minmax(254px, 300px);
  grid-template-rows: 52px 52px 64px;
  gap: 50px 36px;
  justify-content: center; */
}

.booking__date_block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.booking__date_item,
.booking__time_item {
  width: 134px;
  height: 52px;
  border: none;
}

.booking__date_list {
  display: flex;
  justify-content: space-between;
}

.booking__date_list input:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

::-webkit-datetime-edit { 
  padding: 12px 20px; 
}

::-webkit-inner-spin-button { 
  display: none; 
}

::-webkit-calendar-picker-indicator {
  background-image: url('../img/triangle.svg');
  background-position: -40px center;
	background-size: 47px 12px; 
}

.booking__date_item,
.booking__time_item {
  width: 134px;
  height: 52px;
  border: none;
}

.booking__number {
  width: 300px;
  height: 52px;
  font-size: 18px;
  line-height: 28px;
  color: hsl(0, 5%, 12%);
  padding-left: 20px;
	appearance: none;
	background-image: url('../img/triangle.svg');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 47px 12px;
  padding: 12px 20px;
  transition: .3s ease-in-out;
}

.booking__number:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

.date-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.booking__date_name,
.booking__date_second-name,
.booking__date_phone,
.booking__date_email {
  position: relative;
  font-weight: 700;
  font-size: 14px;
}

.booking__date_name input {
  width: 280px;
  height: 52px;  
}

.booking__date_name input:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

.booking__date_second-name input {
  width: 280px;
  height: 52px;
}

.booking__date_second-name input:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

.booking__date_phone input {
  width: 300px;
  height: 52px;
}

.booking__date_phone input:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

.booking__date_email input {
  width: 300px;
  height: 52px;
}

.booking__date_email input:focus {  
  border: 3px solid var(--secondary-color);
  outline: none;  
}

.booking__date_name:before {
  content: "Имя";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_second-name:before {
  content: "Фамилия";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_phone:before {
  content: "Телефон";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__date_email:before {
  content: "E-mail";
  position: absolute;
  left: 0;
  top: -17px;
}

.booking__btn_wrapper {
  margin-left: auto;
}

.booking__btn {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: hsl(0, 0%, 100%);
  border: 3px solid #fff;
  border-radius: 10px;
  color: var(--main-color);
  width: 300px;
  padding: 16px 0;  
  transition: .3s ease-in-out;
}

.booking__btn:hover {
  background-color: var(--next-color);
  border: 3px solid var(--main-color);
}

.booking__btn:focus {
  border: 3px solid var(--main-color);
}

.booking__btn:active {
  border: 3px solid var(--next-color);
  background-color: var(--next-color);
}


@media (max-width: 1439px) {
  .booking__title {
    margin-bottom: 25px;
  }

  .booking__hall_title {
    font-size: 24px;
  }

  .block-title {
    margin-bottom: 25px;
  }

  .booking__hall_radios {
    margin-bottom: 60px;
  }

  .booking__hall_radio {
    font-size: 20px;
    line-height: 24px;
    width: 180px;
    height: 44px;
  }

  .booking__entertainments_title {
    font-size: 24px;
    line-height: 28px;
  }

  .booking__entertainments_list {
    padding: 0;
  }

  .item-title {
    text-align: start;
  }

  .booking__radio_text {
    font-size: 22px;
    line-height: 25px;
  }

  .booking__date_title {
    margin-bottom: 48px;
  }
  
  .booking__date_wrapper {
    padding: 0;
  }

  .booking__date_block {
    gap: 36px;
  }

  .booking__btn {
    width: 254px;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 45px;
  }
  
  .booking__date_name input {
    width: 250px; 
  }

  .booking__date_second-name input {
    width: 250px;
  }

  .booking__date_phone input {
    width: 250px;
  }

  .booking__date_email input {
    width: 250px;
  }
}

@media (max-width: 1023px) {
  .booking {
    padding-left: 20px;
    padding-right: 20px;
  }

  .booking__title {
    margin-bottom: 40px;
  }

  .block-title {
    margin-bottom: 30px;
  }

  .booking__hall_radios {
    gap: 29px;
    margin-bottom: 50px;
  }

  .booking__hall_radio {
    font-size: 16px;
    line-height: 20px;
    width: 150px;
    height: 38px;
  }

  .booking__entertainments_list {
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px 150px;
    margin-bottom: 50px;
  }

  .booking__date_block {
    justify-content: space-between;
    align-items: stretch;
  }

  .block-date {    
    flex-direction: row;
    gap: 90px;
  }

  .booking__date_list {
    gap: 14px;
  }

  .booking__date_name input {
    width: 280px; 
  }

  .booking__date_second-name input {
    width: 280px;
  }

  .booking__date_phone input {
    width: 300px;
  }

  .booking__date_email input {
    width: 300px;
  }

  .booking__btn {
    width: 300px;
    font-size: 22px;
    padding: 16px 50px;
  }
}

@media (max-width: 768px) {
  .booking {
    padding: 30px 0;
  }

  .booking__title {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .booking__hall_title,
  .block-title,
  .booking__entertainments_title {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .booking__date_block {
    align-items: center;
  }

  .booking__radio_text,
  .booking__checkbox_text {
    font-size: 16px;
  }

  .booking__hall_radios {
    flex-wrap: wrap;
    gap: 14px 20px;
    margin-bottom: 30px;
  }

  .booking__hall_radio {
    font-size: 14px;
    line-height: 18px;
    width: 130px;   
  }

  .booking__date {
    flex-direction: column;
    align-items: center;
  }

  .booking__date_wrapper {
    flex-direction: column;
  }

  .booking__date_list {
    margin-bottom: 15px;
    gap: 12px;
  }

  .block-date {
    flex-direction: column;
    gap: 12px;
  }

  .booking__number {
    width: 280px;
  }

  .booking__date_phone input {
    width: 280px;
  }

  .booking__date_email input {
    width: 280px;
  }

  .booking__btn_wrapper {
    margin: 0 auto;
  }
  
  .booking__btn {
    width: 280px;
    font-size: 18px;
    padding: 17px 58px;
  }
}