.faq__list {
  display: flex;
  flex-direction: column;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 4%, 11%);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;  
}

.faq__btn,
.faq__btn_purple {
  background-color: transparent;
  border: none;
  width: 46px;
  height: 46px;  
  transition: .3s ease-in-out;
}

.faq__btn {
  background-image: url("../img/open-purple.svg");
}

.faq__btn_purple {
  background-image: url("../img/open.svg");
}

.faq__item:nth-child(2n) {
  background-color: var(--bg-color);
  color: hsl(0, 0%, 100%);
  transition: .3s ease-in-out;
}

.faq__btn:hover {
  background-image: url("../img/open-purple-hover.svg");
}

.faq__btn:active {
  background-image: url("../img/close-purple.svg");  
}

.faq__btn_purple:hover {
  background-image: url("../img/open-hover.svg");
}

.faq__btn_purple:active {
  background-image: url("../img/close.svg");  
}