.faq__item {
  /* position: relative;  */
  /* cursor: pointer;   */
  font-size: 24px;
  line-height: 28px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 4%, 11%);
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__item:nth-child(2n) {
  background-color: var(--bg-color);
  color: hsl(0, 0%, 100%);
  transition: .3s ease-in-out;
}

.faq__item_title {
  text-align-last: left;
  padding: 10px;
  margin-right: 30px;
}

.faq__item_text {
  font-size: 14px;
  padding: 1em 2.2em;
  border-top: 0;
}

.faq__btn {
  display: flex;
  background-image: url("../img/open-purple.svg");
  background-repeat: no-repeat;
  background-position-x: 715px;
  cursor: pointer;
}

.faq__btn_purple {
  background-image: url("../img/open.svg");
  background-repeat: no-repeat;
  background-position-x: 715px;
}

.faq__accord {
  display: block;
  min-width: 46px;
  height: 46px;
  transition: transform .5s ease;
}

.faq__btn:hover .faq__accord {
  background-image: url("../img/open-purple-hover.svg");
}

.faq__item_title:active .faq__accord {
  background-image: url("../img/close-purple.svg");
}

.faq__btn_purple:hover .faq__accord {
  background-image: url("../img/open-hover.svg");
  background-position-x: 715px;
}

.faq__btn_purple:active .faq__accord {
  background-image: url("../img/close.svg");
}


@media (max-width: 1024px) {
  .faq__item_title {
    font-size: 20px;
  }  

  .faq__item:nth-child(2n) {
    background-color: #fff;
    color: hsl(0, 4%, 11%);
  }

  .faq__item:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .faq__item_title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .faq__item {
    font-size: 12px;
    line-height: 16px;
  }
}


/*
.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 4%, 11%);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;  
}

.faq__btn,
.faq__btn_purple {
  background-color: transparent;
  border: none;
  width: 46px;
  height: 46px;  
  transition: .3s ease-in-out;
}

.faq__btn {
  background-image: url("../img/open-purple.svg");
}

.faq__btn_purple {
  background-image: url("../img/open.svg");
}


.faq__btn:hover .acc__accord {
  background-image: url("../img/open-purple-hover.svg");
}

.faq__btn:active .acc__accord {
  background-image: url("../img/close-purple.svg");  
}

.faq__btn_purple:hover .acc__accord {
  background-image: url("../img/open-hover.svg");
}

.faq__btn_purple:active .acc__accord {
  background-image: url("../img/close.svg");  
} */