.contacts {
  padding: 35px 0;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px;
  width: 45%;
}

.contacts__map {
  margin-bottom: 75px;
}

.contacts__address {
  margin-bottom: 36px;
  
}

.contacts__phone {
  margin-bottom: 10px;
}

.contacts__email {
  margin-bottom: 40px;
}

.contact {
  display: inline-block;
  vertical-align: middle;
}

.contact-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}

.contacts__phone_contact:hover {
  color: var(--add-color);
  transition: .3s ease-in-out;
}

.contacts__email_contact:hover {
  color: var(--add-color);
  transition: .3s ease-in-out;
}

.contacts__social {
  display: flex;
  gap: 26px;
  padding: 0;
  margin: 0;
}

.contacts__link {
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  transition: .3s ease-in-out;  
}

.contacts__link:hover {
  color: var(--next-color);
}

.contacts__link svg:focus {
  color: var(--next-color);
  border: 1px solid var(--add-color);
  outline: none;
}

.contacts__link:active {
  color: var(--add-color);
}

.contacts__copyright {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.contacts__author span:hover {
  color: var(--add-color);
  transition: .3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 1439px) {
  .contacts__left {
    font-size: 22px;
  }

  .contact-image {
    width: 26px;
    height: 26px;
    margin-right: 13px;
  }

  .contacts__link {
    width: 40px;
  }

  .contacts__link svg {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

@media (max-width: 1023px) {
  .contacts__wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .contacts__left {
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    gap: 27px;
  }
  
  .contacts__address,
  .contacts__phone,
  .contacts__email {
    margin-bottom: 0;
  }  
}

@media (max-width: 767px) {
  .contacts {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .contacts__left {
    width: 100%;
  }

  .contacts__address,
  .contacts__phone,
  .contacts__email {
    font-size: 14px;
    line-height: 18px
  }

  .contact-image {
    width: 20px;
    height: 20px;
  }
  
  .contacts__social {
    gap: 20px;
  }

  .contacts__link{
    width: 30px;
    height: 30px;  
  }

  .contacts__link svg{
    width: 30px;
    height: 30px;  
  }

  .contacts__copyright {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    gap: 19px;
  }

  .contacts__author {
    text-align: center;
    gap: 5px;
  }
  
  .contacts__map {
    max-width: 688px;
    margin-bottom: 63px;
  }
}