.contacts {
  padding-top: 50px;
  padding-bottom: 100px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.contacts__address {
  margin-bottom: 36px;
}

.contacts__phone {
  margin-bottom: 10px;
}

.contacts__email {
  margin-bottom: 40px;
}

.contact {
  display: inline-block;
  vertical-align: middle;
}

.contact-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
}

.contacts__social {
  display: flex;
  gap: 26px;
  padding: 0;
  margin: 0;
}

.contacts__link {
  display: block;
  height: 50px;
  transition: .3s ease-in-out;  
}

.contacts__link:hover {
  color: var(--next-color);
}

.contacts__link:focus {
  color: var(--next-color);
  border: 1px solid var(--add-color);
  outline: none;
}

.contacts__link:active {
  color: var(--add-color);
}

.contacts__map {
  margin-bottom: 148px;
}

.contacts__copyright {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}