.halls__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.halls__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 349px;  
}

.halls__card_title {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  width: 252px;
}

.hall-vibes {
  background-image: url(../img/hall-1.jpg);  
}

.hall-wars {
  background-image: url(../img/hall-2.jpg);
}

.hall-west {
  background-image: url(../img/hall-3.jpg);
}

.hall-neon {
  background-image: url(../img/hall-4.jpg);  
}


@media (max-width: 1024px) {
  .halls__card {
    width: 335px;
    height: 200px;  
  }

  .halls__card_title {
    font-size: 50px;
    line-height: 60px;
  }
}