.halls__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.halls__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 571px;
  height: 340px;  
}

.halls__card_title {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  width: 252px;
}

.hall-vibes {
  background-image: url(../img/hall-1.jpg);  
}

.hall-wars {
  background-image: url(../img/hall-2.jpg);
}

.hall-west {
  background-image: url(../img/hall-3.jpg);
}

.hall-neon {
  background-image: url(../img/hall-4.jpg);  
}

.halls__card:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 1439px) {
  .halls__card {
    width: 435px;
    height: 260px;  
  }

  .halls__card_title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1023px) {
  .halls__card {
    width: 330px;
    height: 197px;  
  }
  
  .halls__card_title {
    width: 121px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .halls__cards {
    justify-content: center;
    gap: 10px 10px;
  }

  .halls__card {
    width: 280px;
    height: 168px;    
  }

  .halls__card_title {
    width: 85px;
    font-size: 26px;
    line-height: 34px;
  }
}