.header {
  padding-top: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  column-gap: 40px;
  font-size: 22px;
  text-transform: uppercase;
}

.header__btn {
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
  padding: 12px 32px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.header__btn:hover {
  background-color: var(--main-color);
}

.header__btn:focus {
  background-color: var(--main-color);
}

.header__btn:active {
  background-color: var(--secondary-color);
}