.header {
  padding-top: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  column-gap: 40px;
  font-size: 22px;
  text-transform: uppercase;
}

.header__btn {
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
  padding: 12px 32px;
  border: 3px solid #6C0287;
  border-radius: 10px;
}

.header__btn:hover {
  background-color: #6C0287;
}

.header__btn:focus {
  background-color: #6C0287;
}

.header__btn:active {
  background-color: #640AA3;
}