.hero {
  height: 942px;
}

.hero__wrapper {
  position: relative;
}

.hero__title {
  position: relative;
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -0.1em;
  line-height: 100%;
}

.hero__subtitle {
  position: relative;
  font-size: 28px;
  line-height: 50px;
  padding-left: 210px;    
  margin-bottom: 58px;
}

.hero__subtitle:after {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/stroke.svg") top left repeat-y;
  width: 1172px;
  height: 700px;
  z-index: 1;
  top: -15px;
  left: 0;
}

.hero__wrapper:before {
  content: "";
  position: absolute;
  background: url("../img/hero.png") top left / contain no-repeat;
  width: 675px;
  height: 762px;
  z-index: 2;
  display: block;
  right: 0;
  top: 65px;
}

.hero__down { 
  display: block; 
  position: absolute;
  content: "";
  width: 97px;
  height: 97px;
  right: 543px;
  top: 645px;
  background-color: transparent;
  background-image: url("../img/down.svg");
  background-size: contain;
  border: none;
  z-index: 3;
  transition: .3s ease-in-out; 
}

.hero__down:hover {
  background-image: url("../img/down-hover.svg"); 
}

.hero__down:focus {
  background-image: url("../img/down-focus.svg");
  width: 100px;
  height: 100px;
  border: 1px solid var(--add-color);
}

.hero__down:active {
  background-image: url("../img/down-active.svg");  
}

.hero__block {
  display: flex;
  gap: 61px;
  margin-bottom: 168px;
}

.hero__block_title {
  width: 179px;
  height: 155px;
  background: url('../img/hero_4.png') center / contain no-repeat;
}

.hero__block_desc {
  width: 151px;
  height: 132px;
  background: url('../img/hero-new.png') center / contain no-repeat;
}

.hero__btn {
  position: absolute;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  padding: 25px 69px;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px hsla(288, 97%, 27%, 0.6);
  transition: .3s ease-in-out;
  z-index: 3;  
}

.hero__btn:hover {
  background-color: var(--bg-next-color);
}

.hero__btn:focus,
.hero__btn:active {
  background-color: var(--secondary-color);
}


@media (max-width: 1024px) {
  .hero {
    height: 583px;
  }

  .hero__title {
    font-size: 120px;
    line-height: 1;
  }

  .hero__wrapper:before {
    width: 453px;
    height: 420px;
  }

  .hero__wrapper:after {
    width: 67px;
    height: 67px;
    left: 416px;
    top: 387px;
  }
  
  .hero__subtitle {
    font-size: 22px;
    line-height: 30px;
    padding-left: 100px;
    margin-bottom: 30px;
  }
    
  .hero__block {
    margin-bottom: 80px;
  }

  .hero__block_title {
    width: 141px;
    height: 119px;
  }

  .hero__block_desc {
    width: 124px;
    height: 110px;
  }
  
  .hero__btn {
    font-size: 22px;
    line-height: 30px;
    padding: 17px 48px;
  }
}

@media (max-width: 768px) {  
  .hero__wrapper:before {
    width: 409px;
    height: 479px;
    left: 280px;
    top: 55px;
  }

  .hero__down {
    display: none;
  }

  .hero__title {
    font-size: 86px;
    margin-bottom: 20px;
  }

  .hero__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding-left: 100px;    
    margin-bottom: 50px;
  }
    
  .hero__block {
    margin-bottom: 100px;
  }

  .hero__block_title {
    width: 88px;
    height: 74px;
  }

  .hero__block_desc {
    width: 78px;
    height: 69px;
  }
  
  .hero__btn {
    font-size: 16px;
    line-height: 24px;
    padding: 11px 34px;
  }  
}

@media (max-width: 320px) {
  .hero {
    height: 204px;
    padding: 0;
    padding-top: 20px;
  }
  
  .hero__title {
    font-size: 35px;
    letter-spacing: -0.08em;
    margin-bottom: 6px;
  }
  
  .hero__subtitle {
    font-size: 10px;
    line-height: 14px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .hero__wrapper:before {
    width: 161px;
    height: 179px;
    left: 120px;
    top: 23px;
  }
  
  .hero__block {
    gap: 23px;
    margin-bottom: 30px;
  }
  
  .hero__block_title {
    width: 50px;
    height: 42px;
  }
  
  .hero__block_desc {
    width: 44px;
    height: 40px;
  }
  
  .hero__btn {
    font-size: 10px;
    line-height: 12px;
    padding: 8px 13px;
    border-radius: 4px;
  }
}
