.hero {
  height: 942px;
}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  letter-spacing: -0.1em;
  line-height: 100%;
}

.hero__subtitle {
  position: relative;
  font-size: 28px;
  line-height: 50px;
  padding-left: 100px;  
  margin-bottom: 65px;
}

.hero__subtitle:before {
  content: "";
  position: absolute;
  background: url("../img/hero.png") top left no-repeat;
  width: 675px;
  height: 762px;
  z-index: 2;
  display: block;
  right: 10px;
  top: -80px;
}

.hero__subtitle:after {
  position: absolute;
  content: "";  
  background: url("../img/down.svg") top left no-repeat;
  width: 97px;
  height: 97px;
  z-index: 2;
  display: block;
  left: 530px;
  bottom: -550px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.hero__subtitle:hover:after {
  background: url("../img/down-hover.svg");
  
}

.hero__subtitle:focus:after {
  background: url("../img/down-focus.svg");
  
}

.hero__subtitle:active:after {
  background: url("../img/down-active.svg");
  
}

.hero__blocks {
  display: flex;
}

.hero__block {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero__block:first-child {
  margin-right: 40px;
}

.hero__block_title {
  font-weight: 900;
  font-size: 100px;
  color: hsl(288, 100%, 51%);
  text-align: center;
  margin-bottom: 30px;
}

.new {
font-size: 75px;
font-variant: small-caps;
}

.hero__block_desc {
  max-width: 175px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 150px;
}

.hero__btn {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  padding: 25px 69px;
  background-color: #6C0287;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px hsla(288, 97%, 27%, 0.6);
  transition: .3s ease-in-out;
}

.hero__btn:hover {
  background-color: #840AA3;
}

.hero__btn:focus {
  background-color: #640AA3;
}

.hero__btn:active {
  background-color: #640AA3;
}