.qs-square {
  font-weight: 700;
}

.qs-current {
  text-decoration: none;
}

.qs-active {
  background-color: var(--main-color);
  color: #fff;
}

.qs-controls {
  background-color: transparent;
}

.qs-mouth {
  font-size: 1.5rem;
}
