.release__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  transition: all .10ms ease-in-out;
}

.card {
  transition: all .10ms ease-in-out;
}

.release__card:hover {
  transform: scale(1.1);  
}

.release__card_desc {
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  width: 380px;
  height: 228px; 
  padding-top: 166px;
  padding-left: 40px;
  margin-bottom: 20px; 
}

.card-vr {
  background-image: url('../img/1.jpg');
}

.card-audio {
  background-image: url('../img/2.jpg');
}

.card-karaoke {
  background-image: url('../img/3.jpg');
}

.card-games {
  background-image: url('../img/4.jpg');
}

.card-films {
  background-image: url('../img/5.jpg');
}

.card-playstation {
  background-image: url('../img/6.jpg');
}