.release__cards {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 228px);
  gap: 40px 20px;
}

.release__card {
  transition: 0.3s ease-in-out;
  background-size: cover;
}

.release__card:hover {
  transform: scale(1.1);  
}

.release__card_desc {
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  padding-top: 166px;
  padding-left: 40px;
  margin-bottom: auto;
}
  
.card-vr {
  background-image: url('../img/1.jpg');
} 

.card-audio {
  background-image: url('../img/2.jpg');
  transform: translateY(50px);
}

.card-karaoke {
  background-image: url('../img/3.jpg');
}

.card-games {
  background-image: url('../img/4.jpg');
}

.card-films {
  background-image: url('../img/5.jpg');
  transform: translateY(50px);
}

.card-playstation {
  background-image: url('../img/6.jpg');
}


@media (max-width: 1200px) {
  .release__cards {
    grid-template-columns: repeat(3, 287px);
    grid-template-rows: repeat(2, 182px);
    gap: 30px 22px;
  }
}

@media (max-width: 768px) { 
  .release__cards {
    grid-template-columns: repeat(2, 334px);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
  }

  .card-audio,
  .card-films {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .release__cards {
    grid-template-columns: repeat(2, 134px);
    grid-template-rows: repeat(3, 75px);
    gap: 10px;
  }
  
  .release__card_desc {
    font-size: 10px;
    line-height: 14px;
  }
}
