.release__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 228px);
  gap: 40px 20px;
}

.release__card {
  transition: 0.3s ease-in-out;
  background-size: cover;
  /*ADD*/
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column;
  padding: 0 0 30px 40px;
}

.release__card:hover {
  transform: scale(1.1);  
}

.release__card_desc {
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  /*DEL*/
  /* padding-top: 166px;
  padding-left: 40px;
  margin-bottom: auto; */
}
  
.card-vr {
  background-image: url('../img/1.jpg');
} 

.card-audio {
  background-image: url('../img/2.jpg');
  transform: translateY(50px);
}

.card-karaoke {
  background-image: url('../img/3.jpg');
}

.card-games {
  background-image: url('../img/4.jpg');
}

.card-films {
  background-image: url('../img/5.jpg');
  transform: translateY(50px);
}

.card-playstation {
  background-image: url('../img/6.jpg');
}


@media (max-width: 1440px) {
  .release__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 182px);
    gap: 30px 22px;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .release__card {
    padding: 0 0 20px 20px;
  }
}

@media (max-width: 768px) {
  .release {
    height: 802px;
  }

  .release__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    /*ADD*/
    /* max-width: 320px;
    margin: 0 auto;     */
  }
  
  .release__card {
    max-width: 334px;
    max-height: 200px;
    padding: 0 0 30px 10px;
  }
  
  .release__card_desc {
    font-size: 10px;
    line-height: 14px;
  }

  .card-audio,
  .card-films {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .release {
    height: 356px;
  }

  .release__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 75px);
    gap: 10px;
  }
}